$flowerType : 3; //1,2,3
html,body{
  margin:0;
  padding:0;
}
$n:12;
.container.flower{  
  position:relative;
  width:10px;
  height:10px;
  margin:300px auto 0px;  
  @if( $flowerType == 2) { 
    transform-origin:30% 50%;
    transform:rotate(-35deg);
  }
  div{
    box-sizing:border-box;  
    position:absolute;
    border-top-right-radius:300px;
    border-bottom-left-radius:300px;
  }
  $a:1px;
  $b:1px;
  $sum:2px;
  @for $i from 1 through $n{
    div:nth-child(#{$i}){                  
      $sum:50px;
      width:$sum*2;
      height:$sum*2;
      
      z-index: $n - $i;   
      transform-origin:0% 0%;
      transform:rotate(($i - 1)*30deg);  
      @if( $flowerType == 1){
        background:rgba(212,102,130,($i%2) *0.9);
      }@else if( $flowerType == 2) {
         background:rgba(21,102,130,($i%3) *0.9);
         transform:rotate(($i - 1)*30deg);
      } @else {
         background:rgba(212,10,53,0.7);
      }
    }
  }  
}

.container.leaf{
  position:relative;
  z-index:-1;
  width:10px;
  height:10px;
  left:30px;
  top:160px;
  margin:0px auto;
  transform:rotate(-110deg);
  div{
    box-sizing:border-box;  
    position:absolute;
    border-top-right-radius:300px;
    border-bottom-left-radius:300px;   }
  $a:1px;
  $b:1px;
  $sum:2px;
  @for $i from 1 through 9{
    div:nth-child(#{$i}){            
      $sum : $a + $b;
      $a : $b;
      $b : $sum;      
      width:$sum*2;
      height:$sum*2;
      background:rgba(($i*1)%255,($i*7)%255,($i*5)%255,1);      
      z-index: $n - $i;   
      transform-origin:0% 0%;
      transform:rotate(($i - 1)*3deg);     
    }
  }  
}
.container.stem{
  position:relative;
  z-index:-1;  
  margin:0px auto;
  
  width:5px;
	height: 0;  
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 360px solid rgba(48,32,19,0.9);
  border-radius:2px;
  transform-origin:0% 0%;
  transform:rotate(-10deg); 
}